body {
    margin: 0;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    font-size: 20px;
}

button {
    background-color: #adc5ff;
    font-size: 20px;
    margin: 5px;
}

button:hover {
    background-color: #d6dff5;
}

select {
    font-size: 20px;
}

label {
    font-size: 28px;
}

textarea {
    font-size: 20px;

}