.menuBox {
  display: flex;
  min-height: 15%;
  padding: 5px;
  align-items: center;
  justify-content: space-around;
}
.menuBox button {
  background-color: #f8feaf;
  font-size: large;
}
.mainBox
{
  margin: 0;
  padding: 0;
  height: max-content;
  width: 100vw;
  background-color: #47ad9f;
  display: flex;
  justify-content:space-around;

}

.mainBox div
{
  display: flex;
  flex-direction: column;
  border: solid;
  margin: 10px;
  height: max-content;
  background-color: #079199;
}

.substContFree
{
  width: 30vw;
  border: solid;
  padding: 10px;
}

.contMain
{
  width: 70vw;
  border: solid;
  padding: 10px;
  height: max-content;
}

.containerDiv
{
  width:auto;
  background-color: aquamarine;
  display: flex;
  padding-right: 5px;
}

.edit{
  margin-top: 20%;
}

.edit div {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-top: 10px;
  flex-direction: column;
}

.edit button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-left: 50%;
  margin-top: 10px;
}

.edit label {
  margin-right: 10px;
}

.edit input {
  margin-right: 10px;
}